.new-book {
    width: 100%;
    position: relative;
}

.new-book__button,
.button-submit {
    margin-top: 20px;
    background-color: #345be7;
    padding: 12px 50px;
    font-size: 1rem;
    color: #fff;
    border:none;
    cursor: pointer;
}

.book-icon {
    width: 25%;
    height: auto;
    position: relative;
}

.book-icon__img-block {
    width: 80%;
    height: 350px;
    border: 1px solid blue;
    border-radius: 5px;
    margin-bottom: 10px ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.book-icon__img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    margin-bottom: 10px ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.book-icon__input-wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0px;
    text-align: left;
}

.book-icon__input_file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.book-icon__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #fff;
}
   
.book-icon__file-button-text {
    line-height: 1;
}
   
.book-icon__file-button {
    width: 80%;
    height: 40px;
    background: #345be7;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    cursor: pointer;
    margin: 0;
}

.book-icon__input_ckeckbox {
    display: none;
}

.book-icon__input_ckeckbox + label {
    display: block;
    margin: 10px 0px;
   width: 100%;
   cursor: pointer;
    font-size: .8rem;
    text-align: left;
}

.book-icon__input_ckeckbox + label span {
    border: 1px solid rgb(0, 0, 0);
    font-size: 1.5rem;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 0.25em;
    margin: 4px 8px 8px 8px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
}

.book-icon__input_ckeckbox:checked + label span::after {
    content: "\2713";
}


/* book-info */

.book-info {
    width: 70%;
    position: relative;
    margin-left: 50px;
    text-align: left;
}

.book-info__title,
.book-about__title,
.book-icon__title {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.book-info__group {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.book-info__name {
    opacity: .8;
    width: 30%;
    margin-bottom: 3px;
}

.book-info__text {
    margin: 10px 0px 3px;
}

.book-info__input {
    border:none;
    position: relative;
    width: 60%;
    padding: 10px 10px 3px;
    border-bottom: 1px solid  rgb(179, 179, 179);
    background-color: transparent;
    outline: none;
    color: rgb(0, 0, 0);
    transition: .5s;
    z-index: 2;
    font-size: 18px;
}

.book-info__input:focus {
    border-bottom: 1px solid black;
    width:68%;
}


/* book-about */

.book-about {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.book-about__textarea {
    box-sizing: border-box;
    width: 100%;
    height: 400px;
   padding: 10px 20px;
   color: black;
   border: 2px dotted grey;
   border-bottom: 1px solid grey;
   outline: none;
   transition: 2s ease;
   resize: none;
   border-radius: 5px;
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5rem;
   font-size: 1rem;
}

.book-about__text {
    width: 100%;
    text-align: justify;
}

.book-about__text::first-letter {
    margin-left: 40px;
}

@media (max-width:1200px){
    .book-info {
        width: 70%;
    }

    .book-icon__file-button,
    .book-icon__img-block {
        width: 100%;
    }

    .book-icon__img {
        height: 80%;
        margin-top: 50px;
    }
}

@media (max-width:992px){
    .book-icon__img-block,
    .book-icon__img {
        height: 250px;
    }

    .book-info {
        margin-left: 20px;
    }
}

@media (max-width:767px){
    .book-info,
    .book-icon {
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }

    .book-icon__img-block,
    .book-icon__img {
        width: 70%;
        margin: 0px auto 20px;
        height: 300px;
    }

    .book-info__group {
        display: block;
        margin-bottom: 10px;
    }

    .book-info__name,
    .book-info__input {
        width:90%;
    }

    .book-info__text,
    .book-info__name {
       display: inline;
    }

    .book-info__text {
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .book-info__input {
        margin-bottom: 15px;
        padding-top: 0px;
        box-sizing: border-box;
    }

    .book-info__input:focus {
        width: 100%;
    }
}