.book-info {
    width: 60%;
    position: relative;
    margin-left: 50px;
    text-align: left;
}

.book-info__title,
.book-about__title,
.book-icon__title {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.book-info__group {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.book-info__name {
    opacity: .8;
    width: 30%;
    margin-bottom: 3px;
}

.book-info__input {
    border:none;
    position: relative;
    width: 50%;
    padding: 10px 10px 3px;
    border-bottom: 1px solid  rgb(179, 179, 179);
    background-color: transparent;
    outline: none;
    color: rgb(0, 0, 0);
    transition: .5s;
    z-index: 2;
    font-size: 18px;
}

.book-info__input:focus {
    border-bottom: 1px solid black;
    width:60%;
}

.book-about {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.book-about__textarea {
    box-sizing: border-box;
    width: 100%;
    height: 400px;
   padding: 10px 20px;
   color: black;
   border: 2px dotted grey;
   border-bottom: 1px solid grey;
   outline: none;
   transition: 2s ease;
   resize: none;
   border-radius: 5px;
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5rem;
   font-size: 1rem;
}
